:root {
    --primary: #262f34;
    --secondary: #f34a4a;
    --tertiary: #f1d3bc;
    --quaternary: #615049;
}

.App {
    margin: auto;
    background-color: var(--primary);
    color: var(--secondary);
}

/* --------------------------------------------------------------------------------- */
/* Header elements */

button.dropdown-toggle.btn.btn-primary {
    display: flex;
}

.dropdown-toggle::after {
    margin-top: 10px;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    
    margin: 20px;
}

.JQZLogo img {
    width: 150px;
}

/* --------------------------------------------------------------------------------- */
/* Landing Page elements */

.landingContent {
    display: flex;
    margin-top: 30px;
}

.landingJoke {
    display: flex;
    margin-top: -4rem;
    justify-content: center;
    font-size: smaller;
}

.landingTrends {
    border: 1px solid var(--quaternary);
    width: 80%;
    margin: 20px;
    padding: 20px;
}

.newsArticle {
    justify-content: left;
}

.newsArticle img {
    width: 100px;
}

.landingGames {
    border: 1px solid var(--quaternary);
    width: 15%;
    padding: 20px;
    margin: 20px;
}

/* --------------------------------------------------------------------------------- */
/* Login and Registration elements */

.loginbox {
    background-color: #929292;
    width: 20%;
    margin: auto;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 25rem;
}

#slider {
    width: 3rem;
    display: inline-block;
    height: 3rem;
    vertical-align: middle;
    margin: 5px;
}

/* --------------------------------------------------------------------------------- */
/* Tic Tac Toe elements */

#tttboard {
    border-collapse:collapse;
    border-style: hidden;
}

.ttt {
    border: 2px black solid;
    padding: 10px;
}

/* --------------------------------------------------------------------------------- */
/* Portfolio Page elements */

.portfolio-award {
    list-style-type: none;
    margin: 1rem;
}

.portfolio-banner {
    display: inline;
    margin: 1%;
}

.portfolioLink{
    justify-content: left;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    padding-top: 25px;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 2px 4px gray;
}

.portfolioLink img{
    width: 150px;
    border-radius: 25px;
}
.profile-picture {
    width: 75%;
    padding: 2rem;
    border: 5px solid gray;
    margin: auto;
}

/* --------------------------------------------------------------------------------- */

.quotes {
    height: 1rem;
}

.portfolioLink {
    justify-content: left;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    padding-top: 25px;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 2px 4px gray;
}

.portfolioLink img {
    width: 150px;
    border-radius: 25px;
}