:root {
    --primary: #262f34;
    --secondary: #f34a4a;
    --tertiary: #f1d3bc;
    --quaternary: #615049;
}

html {
    background-color: var(--primary);
}

.projectspan {
    font-size: 15px;
}

.App {
    margin: auto;
    background-color: var(--primary);
    color: var(--secondary);
}

/* --------------------------------------------------------------------------------- */
/* Header elements */

.header {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.JQZLogo img {
    width: 10vw;
}

.headerDropdown {
    margin-top: 10px;
}

.btn-primary {
    background-color: var(--quaternary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.show>.btn-primary.dropdown-toggle {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.btn-primary.focus, .btn-primary:focus {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.headerLink {
    margin-top: 10px;
}

/* --------------------------------------------------------------------------------- */
/* Landing Page elements */

.landingMainContent {
    display: flex;
    margin-top: 10px;
}


.landingTrends {
    border: 1px solid var(--quaternary);
    width: 20%;
    margin: 20px;
    padding: 20px;
}

.newsArticle {
    justify-content: left;
    padding: 5px;
    margin: 5px;
    background-color: #262f34;
}

.newsArticle img {
    width: 8vw;
    margin-left: 25%;
    border-radius: 5px;
}

h4 {
    color: var(--secondary);
}

Link{
    color: var(--secondary);
}
.articleDate {
    color: var(--quaternary);
}

.articleDescription {
    color: var(--tertiary)
}

.landingContent {
    border: 1px solid var(--quaternary);
    margin: 20px;
    padding: 20px;
    width: 60%;
}

.landingFun {
    border: 1px solid var(--quaternary);
    width: 20%;
    padding: 20px;
    margin: 20px;
}

.landingJoke {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #f34a4a;
}

.landingAlgo {
    margin-bottom: 20px;
}

.landingGames {
    margin-top: 20px;
}

.landingGames img {
    width: 10vw;
}

h2 {
    color: var(--tertiary);
    animation: blinker 2.5s alternate-reverse infinite;
  }
  
  @keyframes blinker {
    2% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }

/* --------------------------------------------------------------------------------- */
/* Login and Registration elements */

.loginbox {
    background-color: var(--quaternary);
    width: 20%;
    margin: auto;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 25rem;
}

#slider {
    width: 3rem;
    display: inline-block;
    height: 3rem;
    vertical-align: middle;
    margin: 5px;
    background:  var(--quaternary);
    border-color: transparent;
    color: transparent;
    cursor: pointer;
}

/* --------------------------------------------------------------------------------- */
/* Tic Tac Toe elements */

.tictactoe-game {
    display: grid;
    justify-content: center;
}

.tictactoe-title {
    display: grid;
    justify-content: center;
    margin: 40px;
}

#tttboard {
    width: 20vw;
    height: 20vw;
    border-style: hidden;
    padding: 20px;
}

.ttt {
    border: 4px black solid;
    font-size: 2rem;
    color: #f34a4a;
    padding: 50px;
}



/* --------------------------------------------------------------------------------- */
/* Project Display Elements */

.projectLink {
    margin: auto;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin-top: 15px;
    min-width: 15rem;
    min-height: 15rem;
    padding-top: 30px;
    box-shadow: 2px 4px gray;
}

.projectLink h3, h5{
    color: #f34a4a;
}
.projectLink img {
    width: 75%;
    display: inline-block;
}
.githubIcon {
    height: 40px;
    max-width: 40px;
    vertical-align: top;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: 10px;
}
.projectLink h3{
    display: inline-block;
}

.projectElement a, p{
    color: #f34a4a;
}

.projectElement img{
    width: 110%;
    margin-top: 10px;
    margin-left: 8px;
}

.allProjects{
    max-height: 75rem;
    overflow: auto;
}
/* --------------------------------------------------------------------------------- */
/* Portfolio Page elements */

.portfolio-award {
    list-style-type: none;
    margin: 1rem;
}

.portfolio-banner {
    display: inline;
    margin: 1%;
}

.portfolioLink {
    justify-content: left;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    padding-top: 25px;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 2px 4px gray;
}

.portfolioLink img {
    width: 150px;
    border-radius: 25px;
}

.profile-picture {
    width: 75%;
    padding: 2rem;
    border: 5px solid gray;
    margin: auto;
}
/* --------------------------------------------------------------------------------- */

.quotes {
    height: 1rem;
}

.joke{
    color: #f34a4a;
    font-style: italic;
}