:root {
    --primary: #262f34;
    --secondary: #f34a4a;
    --tertiary: #f1d3bc;
    --quaternary: #615049;
}

html {
    background-color: var(--primary);
}

.App {
    margin: auto;
    background-color: var(--primary);
    color: var(--secondary);
}

/* --------------------------------------------------------------------------------- */
/* Header elements */

.header {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.JQZLogo img {
    width: 10vw;
}

.headerDropdown {
    margin-top: 10px;
}

.btn-primary {
    background-color: var(--quaternary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.show>.btn-primary.dropdown-toggle {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.btn-primary.focus, .btn-primary:focus {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-color: var(--quaternary);
}

.headerLink {
    margin-top: 10px;
}

/* --------------------------------------------------------------------------------- */
/* Landing Page elements */

.landingMainContent {
    display: flex;
    margin-top: 10px;
}


.landingTrends {
    border: 1px solid var(--quaternary);
    width: 20%;
    margin: 20px;
    padding: 20px;
}

.newsArticle {
    justify-content: left;
}

.newsArticle img {
    width: 8vw;
}

h4 {
    color: var(--secondary);
}

.articleDate {
    color: var(--quaternary);
}

.articleDescription {
    color: var(--tertiary)
}

.landingContent {
    border: 1px solid var(--quaternary);
    margin: 20px;
    padding: 20px;
    width: 60%;
}

.landingFun {
    border: 1px solid var(--quaternary);
    width: 20%;
    padding: 20px;
    margin: 20px;
}

.landingJoke {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.landingAlgo {
    margin-bottom: 20px;
}

.landingGames {
    margin-top: 20px;
}

.landingGames img {
    width: 10vw;
}

h2 {
    color: var(--tertiary);
    animation: blinker 2.5s alternate-reverse infinite;
  }
  
  @keyframes blinker {
    2% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }

/* --------------------------------------------------------------------------------- */
/* Login and Registration elements */

.loginbox {
    background-color: #929292;
    width: 20%;
    margin: auto;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 25rem;
}

#slider {
    width: 3rem;
    display: inline-block;
    height: 3rem;
    vertical-align: middle;
    margin: 5px;
}

/* --------------------------------------------------------------------------------- */
/* Tic Tac Toe elements */

#tttboard {
    border-collapse:collapse;
    border-style: hidden;
}

.ttt {
    border: 2px black solid;
    padding: 10px;
}

/* --------------------------------------------------------------------------------- */
/* Portfolio Page elements */

.portfolio-award {
    list-style-type: none;
    margin: 1rem;
}

.portfolio-banner {
    display: inline;
    margin: 1%;
}

.portfolioLink {
    justify-content: left;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    padding-top: 25px;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 2px 4px gray;
}

.portfolioLink img {
    width: 150px;
    border-radius: 25px;
}

.profile-picture {
    width: 75%;
    padding: 2rem;
    border: 5px solid gray;
    margin: auto;
}

/* --------------------------------------------------------------------------------- */

.quotes {
    height: 1rem;
}